<section class="bg-primary rounded-xl p-4 gap-3 flex flex-col">
    <div class="flex justify-between">
        <header>
            <h1 class="text-2xl text-primary-content">{{ selectedUser.name }}'s Tasks</h1>
        </header>
    
        <menu>
            <button class="btn btn-base-100 text-primary-content w-30" (click)="openCreationDialog()">
                <div class="flex items-center gap-2">
                    <img class="h-6 w-6" src="assets/add.svg" alt="Illustration"/>
    
                    Add Task
                </div>
            </button>
        </menu>
    </div>

    <ul class="space-y-4 flex flex-col items-center justify-center w-full">
        @for (task of selectedUserTasks; track task.id) {
            <li class="flex w-full">
                <app-task class="w-full" [task]="task" (onViewTask)="openCreationDialog($event)" (onCompleteTask)="onCompleteTask()"/>
            </li>
        } @empty {
            <img class="h-3/6 w-3/6" src="assets/empty.svg" alt="Illustration"/>
        }
    </ul>
</section>

 @if (showCompletedSuccessfullyToast) {
    <div class="toast toast-top toast-end z-50">
        <div class="alert alert-success w-60">
        <span>Task completed successfully!</span>
        </div>
    </div>
}

<app-create-task-dialog></app-create-task-dialog>


